In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [177]:
active_promos_data=pd.read_csv('./Data/active_promos.csv',encoding='latin-1')
active_promos_data.name='active_promos'
clients_attributes_data=pd.read_csv('./Data/clients_attributes.csv',encoding='latin-1')
clients_attributes_data.name='clients_attributes'
executed_promos_data=pd.read_csv('./Data/executed_promos.csv',encoding='latin-1')
executed_promos_data.name='executed_promos'
sales_data=pd.read_csv('./Data/sales.csv',encoding='latin-1')
sales_data.name='sales_data'

In [178]:
print(f'\nTabla de {active_promos_data.name}\n')
display(active_promos_data)
print(f'\nTabla de {clients_attributes_data.name}\n')
display(clients_attributes_data)
print(f'\nTabla de {executed_promos_data.name}\n')
display(executed_promos_data)
print(f'\nTabla de {sales_data.name}\n')
display(sales_data)

Tabla de active_promos

        CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente
0         297601     29     9  2018-08-06  2018-08-30     3213
1         297601     29     9  2018-08-06  2018-08-30     3795
2         297601     29     9  2018-08-06  2018-08-30    11816
3         298856     40    16  2018-08-12  2018-08-19     8444
4         309916     40    16  2018-08-12  2018-08-19     8488
...          ...    ...   ...         ...         ...      ...
422432    688354     40    16  2019-09-25  2019-09-26    14435
422433    688355     29     9  2019-09-25  2019-09-26      320
422434    688355     29     9  2019-09-25  2019-09-26     3117
422435    688355     29     9  2019-09-25  2019-09-26     3503
422436    688355     29     9  2019-09-25  2019-09-26     6372

[422437 rows x 6 columns]

Tabla de clients_attributes

,Cliente,FechaAltaCliente,Region,Gerencia,SubCanal,TipoPoblacion,Estrato,EF
0,1,2009-03-03,4,21,12,1,1,1
1,9,2009-03-03,4,21,9,2,3,1
2,15,2009-03-03,4,21,9,2,3,0
3,37,2009-03-03,4,21,16,2,3,1
4,43,2009-03-03,4,21,9,2,3,0
...,...,...,...,...,...,...,...,...
15064,15040,2019-03-07,1,16,9,2,1,0
15065,15043,2019-03-07,1,20,15,2,2,1
15066,15052,2019-03-09,3,7,10,2,2,0
15067,15065,2019-03-16,4,21,9,2,2,0
15068,15069,2019-03-18,4,14,9,2,1,0

Tabla de executed_promos

       CodigoDC  Cliente  Marca  Cupo
0        297601     8410     29     9
1        297601     9337     29     9
2        309843     7404     40    16
3        309874     4017     40    16
4        309910     6316     40    16
...         ...      ...    ...   ...
27789    651436     9798     39    20
27790    651588     2397     39    20
27791    651597     4430     40    16
27792    651617     7347     39    20
27793    652143     1584     40    16

[27794 rows x 4 columns]

Tabla de sales_data

,Cliente,AÃ±o,Mes,ClaseEnvase,SegmentoPrecio,Marca,Cupo,Nr,Hl,Dcto
0,1,2018,1,2,2.0,44,10.0,6352.94,0.03,0.0
1,1,2018,1,2,4.0,18,16.0,99130.50,0.45,0.0
2,1,2018,6,2,1.0,2,6.0,11605.40,0.07,-2880.0
3,1,2018,7,1,2.0,37,34.0,1944.01,0.01,0.0
4,1,2018,8,2,1.0,2,16.0,16250.18,0.06,0.0
...,...,...,...,...,...,...,...,...,...,...
1894247,15068,2019,8,1,2.0,44,32.0,3777.28,0.01,0.0
1894248,15069,2019,3,1,2.0,44,32.0,6295.46,0.02,0.0
1894249,15069,2019,4,1,2.0,44,32.0,6295.46,0.02,0.0
1894250,15069,2019,4,2,1.0,2,6.0,15741.56,0.08,0.0
1894251,15069,2019,7,1,2.0,44,29.0,16102.33,0.09,0.0

# Analizamos si faltan datos

In [179]:
def analizar_datos_faltantes(dataframe):
    max_rows=dataframe.shape[0]
    for NombreColumna,DataColumna in dataframe.iteritems():
        if DataColumna.notnull().sum()<max_rows:
            print(f'Valores nulos en la columna {NombreColumna} del dataset {dataframe.name}')
        else:
#             print(DataColumna.notnull().sum())
            print(f'No existen valores nulos en la columna {NombreColumna} del dataset {dataframe.name}')

In [181]:
print(f'\nTabla de {active_promos_data.name}\n')
analizar_datos_faltantes(active_promos_data)
print(f'\nTabla de {active_promos_data.name}\n')
analizar_datos_faltantes(active_promos_data)
print(f'\nTabla de {active_promos_data.name}\n')
analizar_datos_faltantes(active_promos_data)
print(f'\nTabla de {sales_data.name}\n')
analizar_datos_faltantes(sales_data)

Tabla de active_promos

No existen valores nulos en la columna CodigoDC del dataset active_promos
No existen valores nulos en la columna Marca del dataset active_promos
No existen valores nulos en la columna Cupo del dataset active_promos
No existen valores nulos en la columna Fecha_Desde del dataset active_promos
No existen valores nulos en la columna Fecha_Hasta del dataset active_promos
No existen valores nulos en la columna Cliente del dataset active_promos

Tabla de active_promos

No existen valores nulos en la columna CodigoDC del dataset active_promos
No existen valores nulos en la columna Marca del dataset active_promos
No existen valores nulos en la columna Cupo del dataset active_promos
No existen valores nulos en la columna Fecha_Desde del dataset active_promos
No existen valores nulos en la columna Fecha_Hasta del dataset active_promos
No existen valores nulos en la columna Cliente del dataset active_promos

Tabla de active_promos

No existen valores nulos en la columna CodigoDC del dataset active_promos
No existen valores nulos en la columna Marca del dataset active_promos
No existen valores nulos en la columna Cupo del dataset active_promos
No existen valores nulos en la columna Fecha_Desde del dataset active_promos
No existen valores nulos en la columna Fecha_Hasta del dataset active_promos
No existen valores nulos en la columna Cliente del dataset active_promos

Tabla de sales_data

No existen valores nulos en la columna Cliente del dataset sales_data
No existen valores nulos en la columna AÃ±o del dataset sales_data
No existen valores nulos en la columna Mes del dataset sales_data
No existen valores nulos en la columna ClaseEnvase del dataset sales_data
Valores nulos en la columna SegmentoPrecio del dataset sales_data
No existen valores nulos en la columna Marca del dataset sales_data
Valores nulos en la columna Cupo del dataset sales_data
No existen valores nulos en la columna Nr del dataset sales_data
No existen valores nulos en la columna Hl del dataset sales_data
No existen valores nulos en la columna Dcto del dataset sales_data

In [182]:
print(sales_data.info(verbose=True, null_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894252 entries, 0 to 1894251
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Cliente         1894252 non-null  int64
 1   AÃ±o             1894252 non-null  int64
 2   Mes             1894252 non-null  int64
 3   ClaseEnvase     1894252 non-null  int64
 4   SegmentoPrecio  1894247 non-null  float64
 5   Marca           1894252 non-null  int64
 6   Cupo            1894247 non-null  float64
 7   Nr              1894252 non-null  float64
 8   Hl              1894252 non-null  float64
 9   Dcto            1894252 non-null  float64
dtypes: float64(5), int64(5)
memory usage: 144.5 MB
None

# Unimos los Dataset en uno solo
### Esto se hace con el fin de que se pueda analizar toda la data y sus relaciones

In [183]:
def Comprobar_existencia_de_clientes(dataset):
    max_idcliente=max(dataset['Cliente'].unique())
#     print(max_idcliente)
    min_idcliente=min(dataset['Cliente'].unique())
#     print(min_idcliente)
    cantidad_clientes=max_idcliente-min_idcliente+1
    if cantidad_clientes==dataset['Cliente'].nunique():
        print(f'En el dataframe {dataset.name}, el id de todos los cliente es consecutivo y estÃ¡n comprendidos entre {min_idcliente} a {max_idcliente}')

In [184]:
Comprobar_existencia_de_clientes(sales_data)
Comprobar_existencia_de_clientes(clients_attributes_data)

En el dataframe sales_data, el id de todos los cliente es consecutivo y estÃ¡n comprendidos entre 1 a 15069
En el dataframe clients_attributes, el id de todos los cliente es consecutivo y estÃ¡n comprendidos entre 1 a 15069

In [185]:
sales_data_con_clients_attributes=pd.merge(sales_data,clients_attributes_data,how='left',on='Cliente')
sales_data_con_clients_attributes.head()

,Cliente,AÃ±o,Mes,ClaseEnvase,SegmentoPrecio,Marca,Cupo,Nr,Hl,Dcto,FechaAltaCliente,Region,Gerencia,SubCanal,TipoPoblacion,Estrato,EF
0,1,2018,1,2,2.0,44,10.0,6352.94,0.03,0.0,2009-03-03,4,21,12,1,1,1
1,1,2018,1,2,4.0,18,16.0,99130.50,0.45,0.0,2009-03-03,4,21,12,1,1,1
2,1,2018,6,2,1.0,2,6.0,11605.40,0.07,-2880.0,2009-03-03,4,21,12,1,1,1
3,1,2018,7,1,2.0,37,34.0,1944.01,0.01,0.0,2009-03-03,4,21,12,1,1,1
4,1,2018,8,2,1.0,2,16.0,16250.18,0.06,0.0,2009-03-03,4,21,12,1,1,1

### Se agrega la columna Promocion_aceptada a la tabla executed_promos que serÃ¡ nuestro target
#### Adicionalmente, se juntan las tablas executed_promos y active_promos para que pueda ser usado eficientemente en el futuro

In [203]:
executed_promos_data['Promocion_aceptada']=1
executed_promos_data

       CodigoDC  Cliente  Marca  Cupo  Promocion_aceptada
0        297601     8410     29     9                   1
1        297601     9337     29     9                   1
2        309843     7404     40    16                   1
3        309874     4017     40    16                   1
4        309910     6316     40    16                   1
...         ...      ...    ...   ...                 ...
27789    651436     9798     39    20                   1
27790    651588     2397     39    20                   1
27791    651597     4430     40    16                   1
27792    651617     7347     39    20                   1
27793    652143     1584     40    16                   1

[27794 rows x 5 columns]

In [235]:
active_promos_con_executed_promos=active_promos_data.merge(executed_promos_data,how='left',on=['CodigoDC','Cliente','Marca','Cupo'])
active_promos_con_executed_promos.head()

   CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente  Promocion_aceptada
0    297601     29     9  2018-08-06  2018-08-30     3213                 NaN
1    297601     29     9  2018-08-06  2018-08-30     3795                 NaN
2    297601     29     9  2018-08-06  2018-08-30    11816                 1.0
3    298856     40    16  2018-08-12  2018-08-19     8444                 1.0
4    309916     40    16  2018-08-12  2018-08-19     8488                 1.0

### Validamos si todas las promociones aceptadas fueron acopladas adecuadamente

In [236]:
if active_promos_con_executed_promos['Promocion_aceptada'].notna().sum()==executed_promos_data.shape[0]:
    print('Todas las promociones fueron acopladas adecuadamente')

Todas las promociones fueron acopladas adecuadamente

### Se debe modificar la tabla de active_promos_con_executed_promos para que pueda ser utilizado de manera mÃ¡s eficiente

In [237]:
display(active_promos_con_executed_promos)

,CodigoDC,Marca,Cupo,Fecha_Desde,Fecha_Hasta,Cliente,Promocion_aceptada
0,297601,29,9,2018-08-06,2018-08-30,3213,NaN
1,297601,29,9,2018-08-06,2018-08-30,3795,NaN
2,297601,29,9,2018-08-06,2018-08-30,11816,1.0
3,298856,40,16,2018-08-12,2018-08-19,8444,1.0
4,309916,40,16,2018-08-12,2018-08-19,8488,1.0
...,...,...,...,...,...,...,...
422432,688354,40,16,2019-09-25,2019-09-26,14435,NaN
422433,688355,29,9,2019-09-25,2019-09-26,320,NaN
422434,688355,29,9,2019-09-25,2019-09-26,3117,NaN
422435,688355,29,9,2019-09-25,2019-09-26,3503,NaN
422436,688355,29,9,2019-09-25,2019-09-26,6372,NaN

In [307]:
active_promos_con_executed_promos['Promocion_aceptada']=active_promos_con_executed_promos['Promocion_aceptada'].apply(lambda x: 0 if x!=1.0 else x)
active_promos_con_executed_promos['Promocion_aceptada'].value_counts()

0.0    394643
1.0     27794
Name: Promocion_aceptada, dtype: int64

In [313]:
def convertir_a_datetime(dataframe,columnas,formato_fecha='%Y-%m-%d'):
    dataframe_output=dataframe.copy()
    for columna in columnas:
#         dataframe_output[columna]=dataframe[columna].apply(lambda x:  pd.to_datetime(x,formato_fecha))
        dataframe_output[columna]=pd.to_datetime(dataframe[columna],format=formato_fecha)
    return dataframe_output
def convertir_timedelta_a_float_dias(value):
    return value/np.timedelta64(1, 'D')

In [324]:
active_promos_con_executed_promos_convertido_fechas['Fecha_Desde'].dt.day

0          6
1          6
2          6
3         12
4         12
          ..
422432    25
422433    25
422434    25
422435    25
422436    25
Name: Fecha_Desde, Length: 422437, dtype: int64

In [361]:
active_promos_con_executed_promos_convertido_fechas=convertir_a_datetime(active_promos_con_executed_promos,['Fecha_Hasta','Fecha_Desde'])
active_promos_con_executed_promos_convertido_fechas['AÃ±o_inicio']=active_promos_con_executed_promos_convertido_fechas['Fecha_Desde'].dt.year
active_promos_con_executed_promos_convertido_fechas['Mes_inicio']=active_promos_con_executed_promos_convertido_fechas['Fecha_Desde'].dt.month
active_promos_con_executed_promos_convertido_fechas['Dia_inicio']=active_promos_con_executed_promos_convertido_fechas['Fecha_Desde'].dt.day
active_promos_con_executed_promos_convertido_fechas['AÃ±o_fin']=active_promos_con_executed_promos_convertido_fechas['Fecha_Hasta'].dt.year
active_promos_con_executed_promos_convertido_fechas['Mes_fin']=active_promos_con_executed_promos_convertido_fechas['Fecha_Hasta'].dt.month
active_promos_con_executed_promos_convertido_fechas['Dia_fin']=active_promos_con_executed_promos_convertido_fechas['Fecha_Hasta'].dt.day
active_promos_con_executed_promos_convertido_fechas['Duracion_Dias_Promo']=convertir_timedelta_a_float_dias(active_promos_con_executed_promos_convertido_fechas['Fecha_Hasta']-active_promos_con_executed_promos_convertido_fechas['Fecha_Desde'])
active_promos_con_executed_promos_convertido_fechas.drop(labels=['Fecha_Desde','Fecha_Hasta'],axis=1,inplace=True)

In [362]:
display(active_promos_con_executed_promos_convertido_fechas)

,CodigoDC,Marca,Cupo,Cliente,Promocion_aceptada,AÃ±o_inicio,Mes_inicio,Dia_inicio,AÃ±o_fin,Mes_fin,Dia_fin,Duracion_Dias_Promo
0,297601,29,9,3213,0.0,2018,8,6,2018,8,30,24.0
1,297601,29,9,3795,0.0,2018,8,6,2018,8,30,24.0
2,297601,29,9,11816,1.0,2018,8,6,2018,8,30,24.0
3,298856,40,16,8444,1.0,2018,8,12,2018,8,19,7.0
4,309916,40,16,8488,1.0,2018,8,12,2018,8,19,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...
422432,688354,40,16,14435,0.0,2019,9,25,2019,9,26,1.0
422433,688355,29,9,320,0.0,2019,9,25,2019,9,26,1.0
422434,688355,29,9,3117,0.0,2019,9,25,2019,9,26,1.0
422435,688355,29,9,3503,0.0,2019,9,25,2019,9,26,1.0
422436,688355,29,9,6372,0.0,2019,9,25,2019,9,26,1.0

### Unimos las tabla active_promos_con_executed_promos con la sales_data_con_clients_attributes para obtener la tabla final

In [363]:
display(active_promos_con_executed_promos_convertido_fechas)
display(sales_data_con_clients_attributes)

,CodigoDC,Marca,Cupo,Cliente,Promocion_aceptada,AÃ±o_inicio,Mes_inicio,Dia_inicio,AÃ±o_fin,Mes_fin,Dia_fin,Duracion_Dias_Promo
0,297601,29,9,3213,0.0,2018,8,6,2018,8,30,24.0
1,297601,29,9,3795,0.0,2018,8,6,2018,8,30,24.0
2,297601,29,9,11816,1.0,2018,8,6,2018,8,30,24.0
3,298856,40,16,8444,1.0,2018,8,12,2018,8,19,7.0
4,309916,40,16,8488,1.0,2018,8,12,2018,8,19,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...
422432,688354,40,16,14435,0.0,2019,9,25,2019,9,26,1.0
422433,688355,29,9,320,0.0,2019,9,25,2019,9,26,1.0
422434,688355,29,9,3117,0.0,2019,9,25,2019,9,26,1.0
422435,688355,29,9,3503,0.0,2019,9,25,2019,9,26,1.0
422436,688355,29,9,6372,0.0,2019,9,25,2019,9,26,1.0

,Cliente,AÃ±o,Mes,ClaseEnvase,SegmentoPrecio,Marca,Cupo,Nr,Hl,Dcto,FechaAltaCliente,Region,Gerencia,SubCanal,TipoPoblacion,Estrato,EF
0,1,2018,1,2,2.0,44,10.0,6352.94,0.03,0.0,2009-03-03,4,21,12,1,1,1
1,1,2018,1,2,4.0,18,16.0,99130.50,0.45,0.0,2009-03-03,4,21,12,1,1,1
2,1,2018,6,2,1.0,2,6.0,11605.40,0.07,-2880.0,2009-03-03,4,21,12,1,1,1
3,1,2018,7,1,2.0,37,34.0,1944.01,0.01,0.0,2009-03-03,4,21,12,1,1,1
4,1,2018,8,2,1.0,2,16.0,16250.18,0.06,0.0,2009-03-03,4,21,12,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1894247,15068,2019,8,1,2.0,44,32.0,3777.28,0.01,0.0,2019-03-18,1,5,9,2,3,1
1894248,15069,2019,3,1,2.0,44,32.0,6295.46,0.02,0.0,2019-03-18,4,14,9,2,1,0
1894249,15069,2019,4,1,2.0,44,32.0,6295.46,0.02,0.0,2019-03-18,4,14,9,2,1,0
1894250,15069,2019,4,2,1.0,2,6.0,15741.56,0.08,0.0,2019-03-18,4,14,9,2,1,0
1894251,15069,2019,7,1,2.0,44,29.0,16102.33,0.09,0.0,2019-03-18,4,14,9,2,1,0

In [355]:
left_merge_columns=['Cliente','AÃ±o','Mes','Marca','Cupo']
right_merge_columns=['Cliente','AÃ±o_fin','Mes_fin','Marca','Cupo']
sales_data_con_clients_attributes_test=sales_data_con_clients_attributes.merge(active_promos_con_executed_promos_convertido_fechas,how='left',left_on=left_merge_columns,right_on=right_merge_columns,indicator=True)

In [365]:
active_promos_con_executed_promos_convertido_fechas[active_promos_con_executed_promos_convertido_fechas['Cliente']==15057]

,CodigoDC,Marca,Cupo,Cliente,Promocion_aceptada,AÃ±o_inicio,Mes_inicio,Dia_inicio,AÃ±o_fin,Mes_fin,Dia_fin,Duracion_Dias_Promo
243086,619033,29,9,15057,0.0,2019,5,9,2019,5,14,5.0
257707,643698,29,9,15057,0.0,2019,8,18,2019,8,25,7.0
269738,632343,40,16,15057,0.0,2019,7,11,2019,7,30,19.0
271445,634591,29,9,15057,0.0,2019,7,15,2019,7,30,15.0
283453,647705,29,9,15057,0.0,2019,8,18,2019,8,25,7.0
285883,661117,29,9,15057,0.0,2019,9,7,2019,9,14,7.0
288830,679004,39,20,15057,0.0,2019,9,22,2019,9,26,4.0
304783,685577,39,20,15057,0.0,2019,9,22,2019,9,22,0.0
310172,685577,40,16,15057,0.0,2019,9,22,2019,9,22,0.0
343933,619702,29,9,15057,0.0,2019,5,15,2019,5,18,3.0
348655,638821,40,16,15057,0.0,2019,8,7,2019,8,20,13.0
355066,632343,39,20,15057,0.0,2019,7,11,2019,7,30,19.0
357851,638821,39,20,15057,0.0,2019,8,7,2019,8,20,13.0
361289,651036,39,20,15057,0.0,2019,8,27,2019,8,30,3.0
361290,651036,40,16,15057,0.0,2019,8,27,2019,8,30,3.0
365515,672029,40,16,15057,0.0,2019,9,11,2019,9,17,6.0
367065,679004,40,16,15057,0.0,2019,9,22,2019,9,26,4.0
370800,661283,29,9,15057,0.0,2019,9,7,2019,9,14,7.0
411560,637776,39,20,15057,0.0,2019,8,7,2019,8,20,13.0
411561,637776,40,16,15057,0.0,2019,8,7,2019,8,20,13.0
418683,672029,39,20,15057,0.0,2019,9,11,2019,9,17,6.0

In [358]:
sales_data_con_clients_attributes_test[sales_data_con_clients_attributes_test[left_merge_columns].duplicated()]

,Cliente,AÃ±o,Mes,ClaseEnvase,SegmentoPrecio,Marca,Cupo,Nr,Hl,Dcto,...,CodigoDC,Promocion_aceptada,AÃ±o_inicio,Mes_inicio,Dia_inicio,AÃ±o_fin,Mes_fin,Dia_fin,Duracion_Dias_Promo,_merge
344,11,2019,5,1,4.0,29,9.0,171920.49,0.23,0.00,...,620095.0,0.0,2019.0,5.0,15.0,2019.0,5.0,18.0,3.0,both
617,17,2018,9,2,1.0,40,16.0,28488.84,0.09,0.00,...,357832.0,0.0,2018.0,9.0,7.0,2018.0,9.0,11.0,4.0,both
618,17,2018,9,2,1.0,40,16.0,28488.84,0.09,0.00,...,405557.0,0.0,2018.0,9.0,17.0,2018.0,9.0,23.0,6.0,both
619,17,2018,9,2,1.0,40,16.0,28488.84,0.09,0.00,...,408714.0,0.0,2018.0,9.0,20.0,2018.0,9.0,29.0,9.0,both
794,21,2019,3,2,1.0,40,16.0,28520.21,0.09,-175.94,...,604136.0,0.0,2019.0,3.0,7.0,2019.0,3.0,13.0,6.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1983776,14975,2019,8,1,4.0,29,9.0,11267.22,0.02,0.00,...,635870.0,0.0,2019.0,8.0,4.0,2019.0,8.0,21.0,17.0,both
1984093,15020,2019,8,1,4.0,29,9.0,44366.57,0.06,0.00,...,635881.0,0.0,2019.0,8.0,17.0,2019.0,8.0,21.0,4.0,both
1984167,15033,2019,6,1,1.0,6,16.0,8807.22,0.02,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1984392,15057,2019,8,2,1.0,40,16.0,86085.75,0.27,0.00,...,651036.0,0.0,2019.0,8.0,27.0,2019.0,8.0,30.0,3.0,both
1984393,15057,2019,8,2,1.0,40,16.0,86085.75,0.27,0.00,...,637776.0,0.0,2019.0,8.0,7.0,2019.0,8.0,20.0,13.0,both

In [383]:
(active_promos_con_executed_promos_convertido_fechas['Mes_inicio']!=active_promos_con_executed_promos_convertido_fechas['Mes_fin'])&(active_promos_con_executed_promos_convertido_fechas['AÃ±o_inicio']==active_promos_con_executed_promos_convertido_fechas['AÃ±o_fin'])

0         False
1         False
2         False
3         False
4         False
          ...
422432    False
422433    False
422434    False
422435    False
422436    False
Length: 422437, dtype: bool

In [384]:
active_promos_con_executed_promos_convertido_fechas[(active_promos_con_executed_promos_convertido_fechas['Mes_inicio']!=active_promos_con_executed_promos_convertido_fechas['Mes_fin'])&(active_promos_con_executed_promos_convertido_fechas['AÃ±o_inicio']==active_promos_con_executed_promos_convertido_fechas['AÃ±o_fin'])]

,CodigoDC,Marca,Cupo,Cliente,Promocion_aceptada,AÃ±o_inicio,Mes_inicio,Dia_inicio,AÃ±o_fin,Mes_fin,Dia_fin,Duracion_Dias_Promo
365,354346,40,16,436,0.0,2018,8,31,2018,9,13,13.0
366,354346,40,16,1025,1.0,2018,8,31,2018,9,13,13.0
367,354346,40,16,2220,0.0,2018,8,31,2018,9,13,13.0
368,354346,40,16,3003,1.0,2018,8,31,2018,9,13,13.0
369,354346,40,16,3014,0.0,2018,8,31,2018,9,13,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...
416368,652144,39,20,14114,0.0,2019,8,31,2019,9,8,8.0
416369,652144,39,20,14852,0.0,2019,8,31,2019,9,8,8.0
416370,652144,40,16,2113,1.0,2019,8,31,2019,9,8,8.0
416371,652144,40,16,7864,0.0,2019,8,31,2019,9,8,8.0
416372,652144,40,16,9988,0.0,2019,8,31,2019,9,8,8.0

In [354]:
sales_data_con_clients_attributes_test.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1984497 entries, 0 to 1984496
Data columns (total 27 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Cliente              1984497 non-null  int64
 1   AÃ±o                  1984497 non-null  int64
 2   Mes                  1984497 non-null  int64
 3   ClaseEnvase          1984497 non-null  int64
 4   SegmentoPrecio       1984492 non-null  float64
 5   Marca                1984497 non-null  int64
 6   Cupo                 1984492 non-null  float64
 7   Nr                   1984497 non-null  float64
 8   Hl                   1984497 non-null  float64
 9   Dcto                 1984497 non-null  float64
 10  FechaAltaCliente     1984497 non-null  object
 11  Region               1984497 non-null  int64
 12  Gerencia             1984497 non-null  int64
 13  SubCanal             1984497 non-null  int64
 14  TipoPoblacion        1984497 non-null  int64
 15  Estrato              1984497 non-null  int64
 16  EF                   1984497 non-null  int64
 17  CodigoDC             139680 non-null   float64
 18  Promocion_aceptada   139680 non-null   float64
 19  AÃ±o_inicio           139680 non-null   float64
 20  Mes_inicio           139680 non-null   float64
 21  Dia_inicio           139680 non-null   float64
 22  AÃ±o_fin              139680 non-null   float64
 23  Mes_fin              139680 non-null   float64
 24  Dia_fin              139680 non-null   float64
 25  Duracion_Dias_Promo  139680 non-null   float64
 26  _merge               1984497 non-null  category
dtypes: category(1), float64(14), int64(11), object(1)
memory usage: 410.7+ MB

In [344]:
sales_data_con_clients_attributes_test['CodigoDC'].notna().sum()

139680

In [ ]:
data_training=sales_data_con_clients_attributes.copy()
data_training=data_training.merge(active_promos_con_executed_promos,)

In [266]:
active_promos_con_executed_promos

,CodigoDC,Marca,Cupo,Fecha_Desde,Fecha_Hasta,Cliente,Promocion_aceptada
0,297601,29,9,2018-08-06,2018-08-30,3213,0.0
1,297601,29,9,2018-08-06,2018-08-30,3795,0.0
2,297601,29,9,2018-08-06,2018-08-30,11816,1.0
3,298856,40,16,2018-08-12,2018-08-19,8444,1.0
4,309916,40,16,2018-08-12,2018-08-19,8488,1.0
...,...,...,...,...,...,...,...
422432,688354,40,16,2019-09-25,2019-09-26,14435,0.0
422433,688355,29,9,2019-09-25,2019-09-26,320,0.0
422434,688355,29,9,2019-09-25,2019-09-26,3117,0.0
422435,688355,29,9,2019-09-25,2019-09-26,3503,0.0
422436,688355,29,9,2019-09-25,2019-09-26,6372,0.0

In [198]:
def convertir_a_datetime(dataframe,columnas,formato_fecha='%Y-%m-%d'):
    dataframe_output=dataframe.copy()
    for columna in columnas:
        dataframe_output[columna]=dataframe[columna].apply(lambda x: datetime.strptime(x,formato_fecha))
    return dataframe_output
def convertir_timedelta_a_float_dias(value):
    return value/np.timedelta64(1, 'D')

In [194]:
active_promos_data_convertido_fechas=convertir_a_datetime(active_promos_data,['Fecha_Hasta','Fecha_Desde'])
active_promos_data_convertido_fechas.head()

   CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente
0    297601     29     9  2018-08-06  2018-08-30     3213
1    297601     29     9  2018-08-06  2018-08-30     3795
2    297601     29     9  2018-08-06  2018-08-30    11816
3    298856     40    16  2018-08-12  2018-08-19     8444
4    309916     40    16  2018-08-12  2018-08-19     8488

In [199]:
active_promos_data_convertido_fechas[]
active_promos_data_convertido_fechas['Duracion_Dias_Promo']=convertir_timedelta_a_float_dias(active_promos_data_convertido_fechas['Fecha_Hasta']-active_promos_data_convertido_fechas['Fecha_Desde'])
active_promos_data_convertido_fechas.head()

   CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente  Duracion_Dias_Promo
0    297601     29     9  2018-08-06  2018-08-30     3213                 24.0
1    297601     29     9  2018-08-06  2018-08-30     3795                 24.0
2    297601     29     9  2018-08-06  2018-08-30    11816                 24.0
3    298856     40    16  2018-08-12  2018-08-19     8444                  7.0
4    309916     40    16  2018-08-12  2018-08-19     8488                  7.0

In [152]:
a=active_promos_data_post['DuraciÃ³n de la promo'].values[0]

In [162]:
a.dt

AttributeError: 'numpy.timedelta64' object has no attribute 'dt'

In [161]:
a/np.timedelta64(1, 'D')

24.0

In [135]:
from datetime import datetime
active_promos_data['Fecha_Hasta']=active_promos_data['Fecha_Hasta'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

0        2018-08-30
1        2018-08-30
2        2018-08-30
3        2018-08-19
4        2018-08-19
            ...
422432   2019-09-26
422433   2019-09-26
422434   2019-09-26
422435   2019-09-26
422436   2019-09-26
Name: Fecha_Hasta, Length: 422437, dtype: datetime64[ns]

In [132]:
type(active_promos_data['Fecha_Desde'].values[0])

str

In [133]:
active_promos_data['DuraciÃ³n de la promo']=active_promos_data['Fecha_Hasta']-active_promos_data['Fecha_Desde']

TypeError: unsupported operand type(s) for -: 'str' and 'str'