In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [41]:
active_promos_data=pd.read_csv('./Data/active_promos.csv',encoding='latin-1')
active_promos_data.name='active_promos'
clients_attributes_data=pd.read_csv('./Data/clients_attributes.csv',encoding='latin-1')
clients_attributes_data.name='clients_attributes'
executed_promos_data=pd.read_csv('./Data/executed_promos.csv',encoding='latin-1')
executed_promos_data.name='executed_promos'
sales_data=pd.read_csv('./Data/sales.csv',encoding='latin-1')
sales_data.name='sales_data'

In [42]:
print(f'\nTabla de {active_promos_data.name}\n')
display(active_promos_data)
print(f'\nTabla de {clients_attributes_data.name}\n')
display(clients_attributes_data)
print(f'\nTabla de {executed_promos_data.name}\n')
display(executed_promos_data)
print(f'\nTabla de {sales_data.name}\n')
display(sales_data)

Tabla de active_promos

        CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente
0         297601     29     9  2018-08-06  2018-08-30     3213
1         297601     29     9  2018-08-06  2018-08-30     3795
2         297601     29     9  2018-08-06  2018-08-30    11816
3         298856     40    16  2018-08-12  2018-08-19     8444
4         309916     40    16  2018-08-12  2018-08-19     8488
...          ...    ...   ...         ...         ...      ...
422432    688354     40    16  2019-09-25  2019-09-26    14435
422433    688355     29     9  2019-09-25  2019-09-26      320
422434    688355     29     9  2019-09-25  2019-09-26     3117
422435    688355     29     9  2019-09-25  2019-09-26     3503
422436    688355     29     9  2019-09-25  2019-09-26     6372

[422437 rows x 6 columns]

Tabla de clients_attributes

,Cliente,FechaAltaCliente,Region,Gerencia,SubCanal,TipoPoblacion,Estrato,EF
0,1,2009-03-03,4,21,12,1,1,1
1,9,2009-03-03,4,21,9,2,3,1
2,15,2009-03-03,4,21,9,2,3,0
3,37,2009-03-03,4,21,16,2,3,1
4,43,2009-03-03,4,21,9,2,3,0
...,...,...,...,...,...,...,...,...
15064,15040,2019-03-07,1,16,9,2,1,0
15065,15043,2019-03-07,1,20,15,2,2,1
15066,15052,2019-03-09,3,7,10,2,2,0
15067,15065,2019-03-16,4,21,9,2,2,0
15068,15069,2019-03-18,4,14,9,2,1,0

Tabla de executed_promos

       CodigoDC  Cliente  Marca  Cupo
0        297601     8410     29     9
1        297601     9337     29     9
2        309843     7404     40    16
3        309874     4017     40    16
4        309910     6316     40    16
...         ...      ...    ...   ...
27789    651436     9798     39    20
27790    651588     2397     39    20
27791    651597     4430     40    16
27792    651617     7347     39    20
27793    652143     1584     40    16

[27794 rows x 4 columns]

Tabla de sales_data

,Cliente,Año,Mes,ClaseEnvase,SegmentoPrecio,Marca,Cupo,Nr,Hl,Dcto
0,1,2018,1,2,2.0,44,10.0,6352.94,0.03,0.0
1,1,2018,1,2,4.0,18,16.0,99130.50,0.45,0.0
2,1,2018,6,2,1.0,2,6.0,11605.40,0.07,-2880.0
3,1,2018,7,1,2.0,37,34.0,1944.01,0.01,0.0
4,1,2018,8,2,1.0,2,16.0,16250.18,0.06,0.0
...,...,...,...,...,...,...,...,...,...,...
1894247,15068,2019,8,1,2.0,44,32.0,3777.28,0.01,0.0
1894248,15069,2019,3,1,2.0,44,32.0,6295.46,0.02,0.0
1894249,15069,2019,4,1,2.0,44,32.0,6295.46,0.02,0.0
1894250,15069,2019,4,2,1.0,2,6.0,15741.56,0.08,0.0
1894251,15069,2019,7,1,2.0,44,29.0,16102.33,0.09,0.0

# Analizamos si faltan datos

In [116]:
def analizar_datos_faltantes(dataframe):
    max_rows=dataframe.shape[0]
    for NombreColumna,DataColumna in dataframe.iteritems():
        if DataColumna.notnull().sum()<max_rows:
            print(f'Valores nulos en la columna {NombreColumna} del dataset {dataframe.name}')
        else:
#             print(DataColumna.notnull().sum())
            print(f'No existen valores nulos en la columna {NombreColumna} del dataset {dataframe.name}')

In [117]:
print(f'\nTabla de {active_promos_data.name}\n')
analizar_datos_faltantes(active_promos_data)
# display(active_promos_data.info(verbose=True, null_counts=True))
print(f'\nTabla de {active_promos_data.name}\n')
analizar_datos_faltantes(active_promos_data)
# display(clients_attributes_data.info(verbose=True, null_counts=True))
print(f'\nTabla de {active_promos_data.name}\n')
analizar_datos_faltantes(active_promos_data)
# display(executed_promos_data.info(verbose=True, null_counts=True))
print(f'\nTabla de {sales_data.name}\n')
analizar_datos_faltantes(sales_data)
# print(sales_data.info(verbose=True, null_counts=True))

Tabla de active_promos

No existen valores nulos en la columna CodigoDC del dataset active_promos
No existen valores nulos en la columna Marca del dataset active_promos
No existen valores nulos en la columna Cupo del dataset active_promos
No existen valores nulos en la columna Fecha_Desde del dataset active_promos
No existen valores nulos en la columna Fecha_Hasta del dataset active_promos
No existen valores nulos en la columna Cliente del dataset active_promos

Tabla de active_promos

No existen valores nulos en la columna CodigoDC del dataset active_promos
No existen valores nulos en la columna Marca del dataset active_promos
No existen valores nulos en la columna Cupo del dataset active_promos
No existen valores nulos en la columna Fecha_Desde del dataset active_promos
No existen valores nulos en la columna Fecha_Hasta del dataset active_promos
No existen valores nulos en la columna Cliente del dataset active_promos

Tabla de active_promos

No existen valores nulos en la columna CodigoDC del dataset active_promos
No existen valores nulos en la columna Marca del dataset active_promos
No existen valores nulos en la columna Cupo del dataset active_promos
No existen valores nulos en la columna Fecha_Desde del dataset active_promos
No existen valores nulos en la columna Fecha_Hasta del dataset active_promos
No existen valores nulos en la columna Cliente del dataset active_promos

Tabla de sales_data

No existen valores nulos en la columna Cliente del dataset sales_data
No existen valores nulos en la columna Año del dataset sales_data
No existen valores nulos en la columna Mes del dataset sales_data
No existen valores nulos en la columna ClaseEnvase del dataset sales_data
Valores nulos en la columna SegmentoPrecio del dataset sales_data
No existen valores nulos en la columna Marca del dataset sales_data
Valores nulos en la columna Cupo del dataset sales_data
No existen valores nulos en la columna Nr del dataset sales_data
No existen valores nulos en la columna Hl del dataset sales_data
No existen valores nulos en la columna Dcto del dataset sales_data

In [119]:
print(sales_data.info(verbose=True, null_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894252 entries, 0 to 1894251
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Cliente         1894252 non-null  int64
 1   Año             1894252 non-null  int64
 2   Mes             1894252 non-null  int64
 3   ClaseEnvase     1894252 non-null  int64
 4   SegmentoPrecio  1894247 non-null  float64
 5   Marca           1894252 non-null  int64
 6   Cupo            1894247 non-null  float64
 7   Nr              1894252 non-null  float64
 8   Hl              1894252 non-null  float64
 9   Dcto            1894252 non-null  float64
dtypes: float64(5), int64(5)
memory usage: 144.5 MB
None

# Unimos los Dataset en uno solo
### Esto se hace con el fin de que se pueda analizar toda la data y sus relaciones

In [47]:
def Comprobar_existencia_de_clientes(dataset):
    max_idcliente=max(dataset['Cliente'].unique())
#     print(max_idcliente)
    min_idcliente=min(dataset['Cliente'].unique())
#     print(min_idcliente)
    cantidad_clientes=max_idcliente-min_idcliente+1
    if cantidad_clientes==dataset['Cliente'].nunique():
        print(f'En el dataframe {dataset.name}, el id de todos los cliente es consecutivo y están comprendidos entre {min_idcliente} a {max_idcliente}')

In [48]:
Comprobar_existencia_de_clientes(sales_data)
Comprobar_existencia_de_clientes(clients_attributes_data)

En el dataframe sales_data, el id de todos los cliente es consecutivo y están comprendidos entre 1 a 15069
En el dataframe clients_attributes, el id de todos los cliente es consecutivo y están comprendidos entre 1 a 15069

In [51]:
sales_data_con_clients_attributes=pd.merge(sales_data,clients_attributes_data,how='left',on='Cliente')
sales_data_con_clients_attributes.head()

,Cliente,Año,Mes,ClaseEnvase,SegmentoPrecio,Marca,Cupo,Nr,Hl,Dcto,FechaAltaCliente,Region,Gerencia,SubCanal,TipoPoblacion,Estrato,EF
0,1,2018,1,2,2.0,44,10.0,6352.94,0.03,0.0,2009-03-03,4,21,12,1,1,1
1,1,2018,1,2,4.0,18,16.0,99130.50,0.45,0.0,2009-03-03,4,21,12,1,1,1
2,1,2018,6,2,1.0,2,6.0,11605.40,0.07,-2880.0,2009-03-03,4,21,12,1,1,1
3,1,2018,7,1,2.0,37,34.0,1944.01,0.01,0.0,2009-03-03,4,21,12,1,1,1
4,1,2018,8,2,1.0,2,16.0,16250.18,0.06,0.0,2009-03-03,4,21,12,1,1,1

### Se debe modificar la tabla de active_promos para que pueda ser utilizado de manera más eficiente

In [53]:
display(active_promos_data)

        CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente
0         297601     29     9  2018-08-06  2018-08-30     3213
1         297601     29     9  2018-08-06  2018-08-30     3795
2         297601     29     9  2018-08-06  2018-08-30    11816
3         298856     40    16  2018-08-12  2018-08-19     8444
4         309916     40    16  2018-08-12  2018-08-19     8488
...          ...    ...   ...         ...         ...      ...
422432    688354     40    16  2019-09-25  2019-09-26    14435
422433    688355     29     9  2019-09-25  2019-09-26      320
422434    688355     29     9  2019-09-25  2019-09-26     3117
422435    688355     29     9  2019-09-25  2019-09-26     3503
422436    688355     29     9  2019-09-25  2019-09-26     6372

[422437 rows x 6 columns]

In [ ]:
active_promos_data['Duración de la promo']=active_promos_data[]